/* Fonte externa */
body {
    font-family: 'Shrikhand', sans-serif;
}
h1{
    font-family: 'Shrikhand';
}

h2{
    font-family: 'League Spartan';
}
/* Fundo em Gradient */
body {
    background: linear-gradient(to right, #f55932, #ffa561);
    background: linear-gradient(to bottom, #f55932, #ffa561);
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Shrikhand';
}

nav a:hover {
    background-color: rgb(255, 0, 200)
}
/* Estilos do Header */
header {
    background-color: #813535;
    color:rgb(255, 255, 255);
    padding: 1em 0;
    text-align: center;
}
/* Estilos do Main */
main {
    padding: 2em;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}

/* Estilos do Footer */
footer {
    text-align: center;
}


