/* Fonte externa */
body {
    font-family: 'Shirikhand', sans-serif;
}

/* Fundo em Gradient */
body {
    background: linear-gradient(to right, #fd6c47, #fa9f59);
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Shrikhand';
}

nav a:hover {
    background-color: rgb(203, 255, 192);

/* Estilos do Header */
header {
    background-color: #813535;
    color: #ffffff;
    padding: 1em 0;
    text-align: center;
}

/* Estilos do Main */
main {
    padding: 2em;
    text-align: center;
}

.logo {
    max-width: 100%;
    height: auto;
    opacity: 0.8;
}

/* Estilos do Footer */
footer {
    text-align: center;
}


